@media screen and (max-width:800px) {
    
}

@media screen and (max-width:576px) {
    .nav-hamburger{
        display: block;
        color: rgb(200, 200, 200);
    }
    .para-home{
        display: none;
    }
    .get-body-container{
        flex-direction: column;
    }
    .round-picture-container{
        flex-direction: column;
    }
    .run-extra-mile-container{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .bmi-container{
        flex-direction: column;
    }
    .own-part-container{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
}