@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter", sans-serif;
}
/* header design  */
.header-container{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
/* navigation bar design  */
.navbar-main{
    display: flex;
    justify-content: space-between;
    max-width: 1200px; 
    margin: 0 auto;
}
.para-home{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
#btn-fit{
    color: rgb(230, 83, 60);
    font-size: 26px;
    font-weight: 800;
}
#btn-home{
    background: rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
    border-radius: 45px;   
}
.nav-hamburger{
    display: none;
}
/* get body stay safe part design */
.get-body-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.heading-container{
    
}
#heading{
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
}
#shape-font{
    font-family: Dancing Script;
    font-style: italic;
}

.btn-container{
    display: flex;
    /* justify-content: center; */
    gap: 20px;
    margin-right: 3rem;
}
.btn-container>button{
    width: 10rem;
    height: 40px;
    border-radius: 45px;
    font-size: 1.1rem;
    font-weight: 600;
}
#btn-back-color-1{
    background: rgb(230, 83, 60);
}
#btn-back-color-2{
    background-color: black;
    color: white;
}
/* header image part design */
.image-container{
    position: relative;
    display: inline-block;
}
.image-heading{
    color: white;
}
.first-div-position{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    width: 9rem;
    height: 70px;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 60%;
}
.right-arrow{
    height: 0;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid white;
    transform: rotate(90.00deg);
    position: absolute;
    top: 50%;
    right: 90%;
}
.div-tutorial{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    width: 9rem;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 13%;
    right: 65%;
    
}
.div-circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
}
/* change habit part design */
.body-container{
    background: rgb(185, 185, 185);
}
.change-habit{
    text-align: center;
}
#heading-color{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}
/* round picture part design */
.round-picture-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 20px;
}
.round-picture-container>div>img{
    border-radius: 50%;
}
.round-picture-container>div{
    text-align: center;
}
/* run extra mile part design */
.run-extra-mile-container{
    width: 1100px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(34, 34, 34);
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 8px;
    padding: 20px;
}
.run-extra-content{
    margin-left: 15px;
}
.run-extra-content>button{
    width: 10rem;
    height: 40px;
    border-radius: 45px;
    font-size: 1.1rem;
    font-weight: 600;
    background: rgb(230, 83, 60);
    margin-top: 10px;
    color: white;
}
#run-extra-heading{
    color: white;
    font-size: 40px;
    font-weight: 800;
}
#run-extra-para{
    color: rgba(255, 255, 255, 0.5);
}
.run-extra-img{
    width: 300px;
    height: 230px; 
    border-radius: 12px;
    margin-top: 5px;
    margin-right: 15px; 
}
/* BMI content part */
.bmi-cal-content{
    text-align: center;
    margin-top: 25px;
}
.bmi-cal-content>h2{
    color: white;
}
/* BMI calculator part */
.bmi-container{
    width: 100%;
    height: auto;
    margin-top: 20px;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.table-part>h2{
    color: white;
    margin-top: 10px;
}
.table-container{
    margin-top: 15px;
}
table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}
th{
    color: white;
    text-align: left;
}
td{
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
}
.input-part>h2{
    color: white;
    margin-top: 10px;
}
.input-part>p{
    color: rgba(255, 255, 255, 0.5);
}
input, .sex-select{
    width: 12rem;
    height: 2rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}
.activity-factor{
    width: 25.3rem;
    height: 2rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}
.cal-btn{
    width: 9rem;
    height: 2.5rem;
    background: rgb(230, 83, 60);
    border-radius: 42px;
    color: white;
}
